@{
    ViewBag.Title = "Home Page";
}
<div>
    <div style="margin-top: 50px;">
        <input type="text" id="employeeId" name="employeeId" value="" />
        <input type="button" id="search" name="search" value="Get Employees" />
    </div>
    <div id="display-resources" style="margin-top: 50px;">

    </div>
</div>

@section MyScripts {
<script>
    function searchAll() {
        $.ajax({
            type: "GET",
            url: "/api/employees",
            success: printResults(result)
        });
    }

    function searchById(employeeId) {
        $.ajax({
            type: "GET",
            url: "/api/employees/" + employeeId,
            success: printResults,
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status == 404) {
                    msg = 'No existe el empleado con el identificador indicado';
                } else if (jqXHR.status == 400) {
                    msg = 'El identificador debe ser númerico solamente';
                }
                else {
                    msg = 'Ocurrio un error al llamar al servicio. Por favor intentelo nuevamente';
                }
                $("#display-resources").html(msg);
            }
        });
    }

    function printResults(result) {
        console.log(result);
        var array;
        if (result instanceof Array) {
            array = result;
        }
        else
        {
            array = new Array(result);
        }

        var output =
            "<table><thead><tr><th>Id</th><th>Name</th><th>Contract Type</th><th>Role Id</th><th>Role</th><th>Role Description</th><th>Hourly Salary</th><th>Monthly Salary</th><th>Anual Salary</th></thead><tbody>";
        for (var i in array) {
            output +=
                "<tr><td>" +
                array[i].id +
                    "</td><td>" +
                array[i].name +
                    "</td><td>" +
                array[i].contractTypeName +
                    "</td><td>" +
                array[i].roleId +
                    "</td><td>" +
                array[i].roleName +
                    "</td><td>" +
                (array[i].roleDescription != null ? array[i].roleDescription : "") +
                    "</td><td>" +
                array[i].hourlySalary +
                    "</td><td>" +
                array[i].monthlySalary +
                    "</td><td>" +
                array[i].anualSalary +
                "</td></tr>";
        }
        output += "</tbody></table>";

        var displayResources = $("#display-resources");
        displayResources.html(output);

        $("table").addClass("table");
    }

    $(document).ready(function () {
        $("#search").click(function () {
            var employeeId = $("#employeeId").val();

            if (employeeId == null) {
                searchAll();
            }
            else
            {
                searchById(employeeId);
            }            
        });
    });
</script>
}